#layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#layout .trigger:hover {
    color: #1890ff;
}

#layout .logo {
    height: 32px;
    line-height: 32px;
    margin: 16px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}
.logo span{
    display: inline-block;
    margin-left: 10px;
}
.user{
    float: right;
    margin-right: 50px;
}
.user span{
    color: red;
    margin-left: 20px;
}
.user span .exitBtn{
    padding: 0;
    margin-left: -15px;
}
